# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("output_data/cities.csv")
cities.head()

,Name,ID,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,vaini,4032243.0,-21.20,-175.20,80.6,88.0,75.0,13.87
1,tiarei,4033356.0,-17.53,-149.33,87.8,66.0,40.0,11.41
2,tasiilaq,3424607.0,65.61,-37.64,28.4,79.0,100.0,27.51
3,ola,2122574.0,59.58,151.28,-3.1,88.0,100.0,15.46
4,victoria,1819729.0,22.29,114.16,61.0,87.0,40.0,11.41

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)
locations = cities[["Lat", "Lng"]].astype(float)
humidity = cities["Humidity"].astype(float)

In [7]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
#I chose ideal cities based on what I like, coldish and cloudy.

idealWeatherCities = cities.loc[((cities["Max Temp"]<60) & (cities["Max Temp"]>15)) & (cities["Wind Speed"]<=10) & \
                                (cities["Cloudiness"]>50)]
idealWeatherCities

,Name,ID,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,bethel,5282297.0,41.37,-73.41,48.20,100.0,90.0,6.91
13,katsuura,2112309.0,35.13,140.30,42.01,93.0,75.0,9.17
23,hermanus,3366880.0,-34.42,19.23,57.00,98.0,83.0,5.01
25,jamestown,5122534.0,42.10,-79.24,34.00,97.0,90.0,3.36
43,kozhevnikovo,1502257.0,56.26,83.97,19.00,88.0,99.0,10.00
...,...,...,...,...,...,...,...,...
527,embonas,262698.0,36.23,27.86,51.01,71.0,87.0,3.36
528,grindavik,3416888.0,63.84,-22.43,35.60,72.0,90.0,9.17
530,waddan,2209055.0,29.16,16.14,55.09,31.0,80.0,3.76
535,tlacotepec,3515473.0,20.07,-97.87,52.90,85.0,98.0,3.69
547,aksu,1529660.0,41.12,80.26,24.30,71.0,100.0,1.88

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map